body {
    background-color: #2E2E2E;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 100%;
    max-width: 900px;
    background-color: #1E1E1E;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; 
    max-height: 70vh; 
    display: flex;
    flex-direction: column;
}

.terminal-header {
    background-color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.buttons {
    display: flex;
}

.buttons div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.close {
    background-color: #FF5F56;
}

.minimize {
    background-color: #FFBD2E;
}

.maximize {
    background-color: #27C93F;
}

.title {
    color: #888;
    font-size: 14px; 
}

.terminal-body {
    padding: 30px;
    flex-grow: 1; 
}

#terminal-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px; 
    padding: 10px; 
    overflow-y: auto; 
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
    font-size: 16px; 
}

input {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    outline: none;
}

.command {
    color: #6DC6FF; /* Light blue color */
}
